* {
	box-sizing: border-box;
}

body {
	background: black;
}
.top {
	position: fixed;
	top: 0;
	color: black;
	text-align: center;
	font-size: 5vw;
	height:6vw;
	width: 100%;
	border: 2px solid black;
	background: hotpink;
}
.invitation {
	float: left;
	background: hotpink;
	width:60%;
	padding:1vw 8vw ;
	margin:7vw 20vw 0vw;
	border-radius:10vw;
	border:2px solid rgb(59, 140, 255);
	height:32vw;	
	font-size: 2.5vw;
}
.invitation p{
	text-align: center;
}
.button {
	width: 7vw; height: 7vw;
	margin: 0vw 46vw; 
	background: black;
	border: none;
}
.button img{
	border: 0.1vw solid pink;
	border-radius: 50vw;
	width: 11vw; height: 11vw;
	animation-name:button;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes button {
	0% {transform: scale3d(1.15, 1.15, 1.15);}
	50% {transform: scale3d(.98, .98, .98);}
	100% {transform: scale3d(1.15, 1.15, 1.15);}
}
.footer {
	float:left;
	width:100%;
	height: 30vw;
	margin:0vw;
	background: black;
}

//Hi Mahal, <br><br> Please let's date on November 31, 3pm on Ayala Malls. And then lets go to SOGO after para magpahinga so that we can salubong our monthsary there with a paputok :))) Send me a selfie w/ a finger heart sign po for confirmation WAHHHHH!! WUV WUV